* {
    box-sizing: border-box;
  }

  
  body {
    margin: 0;
    padding: 0;
    background: #ededed;
    font-family: Roboto,Helvetica,Arial,sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  


/*HERO CONTAINER*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0.938rem;
    height: 100vh;
    max-width: 500px;
    background:#f0f0f0;
    text-align: center;
}

.hero__header{
  font-size:3rem;
}

.hero__subheader {
    font-weight: 300;
    font-size: 2rem;
}

.style__summary {
    font-size: 1.4rem;
}

.style__email{
    font-size: 1.4rem;
}

.hero__text {
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero__link-container{
    font-size: 1.3rem;
}

.hero__logo {
    height: 3.125rem;
    vertical-align: middle;
    animation: hero-logo infinite 3s linear;
    margin-left: 1.25rem;
    margin-top: 0.625rem;
}

.github__logo {
    color: black;
}

.github__logo:hover {
    color: black;
    background: #f0f0f0;
    cursor: pointer;
    transform: scale(1.2);
}

.twitter__logo:hover {
    color: rgb(29, 155, 240);
    background:#f0f0f0;
    cursor: pointer;
    transform: scale(1.2);
}

.twitter__logo {
    color: rgb(29, 155, 240);
}

.linkedin__logo:hover {
    color: #0a66c2;
    background:#f0f0f0;
    cursor: pointer;
    transform: scale(1.2);
}

.linkedin__logo {
    color: #0a66c2;
}

.logo__container {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    cursor: pointer;
    transform: scale(1.2);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.image__profile {
    max-width: 40%;
    border-radius: 50%;
    border: 5px solid #999999;
    margin-bottom: 1rem;

}

@media screen and (max-width:20rem) {
    .image__profile {
        display: none;
    }
}

@media screen and (max-width:23.438) {
    .image__profile {
        max-width: 40%;
    }
}

@media screen and (max-width:26.563) {
    .image__profile {
        max-width: 40%;
    }
}

@keyframes hero-logo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



